<!-- Dashboard -->
<div class="container w-75 mt-4 dashboard">

  <!-- Header -->
  <div class="row p-2 w-100 font-weight-bold dashboard__header">
    <div class="col p-0">Creative ID</div>
    <div class="col p-0">YouTube ID</div>
    <div class="col p-0">Title</div>
    <div class="col p-0">Description</div>
  </div>

  <!-- Folders -->
  <div *ngFor="let video of videos">
    <div class="row p-2 w-100">
      <div class="col p-0 d-flex align-items-center">{{video.creativeID}}</div>
      <div class="col p-0 d-flex flex-column">{{video.youtubeID}}</div>
      <div class="col p-0 d-flex flex-column">{{video.title}}</div>
      <div class="col p-0 d-flex flex-column">{{video.description}}</div>
    </div>
  </div>

</div>

<!-- Buttons -->
<div class="dashboard-buttons">
  <button class="btn btn-primary" (click)="openAddForm()">Add</button>
</div>
