<!-- Dashboard -->
<div class="container w-75 mt-4 dashboard">

  <!-- Header -->
  <div class="row p-2 w-100 font-weight-bold dashboard__header">
    <div class="col p-0">Folder Name</div>
    <div class="col p-0">Consist</div>
    <div class="col p-0">Actions</div>
  </div>

  <!-- Folders -->
  <div *ngFor="let folder of folders">
    <div class="row p-2 w-100">
      <div class="col p-0 d-flex align-items-center">
        <a [routerLink]="'/folders/' + folder.id">{{folder.name}}</a>
      </div>
      <div class="col p-0 d-flex flex-column">
        <div>Audience: {{folder.audienceFolderName}}</div>
        <div>Creative: {{folder.videoFolderName}}</div>
      </div>
      <div class="col p-0">
        <a [routerLink]="'/folders/' + folder.id" class="btn btn-light mr-2">Edit</a>
        <button class="btn btn-danger" (click)="deleteFolder(folder.id)">Delete</button>
      </div>
    </div>
  </div>

</div>

<!-- Buttons -->
<div class="dashboard-buttons">
  <button class="btn btn-light mr-2" (click)="openUploadForm()">Upload</button>
  <button class="btn btn-primary" (click)="openNewForm()">Add</button>
</div>
