:host
  //height 80px
  width 100%

.generatorWrapper
  flex-wrap wrap

  justify-content center

.generatorWrapper .header__rule
  //flex 1

  margin .25em

  border solid thin rgba(0, 0, 0, .125)
  border-radius .25em

.header__rule
  align-self baseline

  margin-right .5em

  &.generator
    min-width 192px

  &
    margin 1em 0 1em 0

    position relative

    height 48px
    max-width 256px
    min-width 192px

    border solid thin rgba(0, 0, 0, .125)
    border-right none

    cursor pointer

    line-height 48px

    text-align center

    span:not(.badge)
      margin-bottom 0

      height 100%
      width 100%

      overflow hidden

    &:nth-child(2)
      border-radius .25rem 0 0 .25rem

    &:last-child
      border-right solid thin rgba(0, 0, 0, .125)
      border-radius 0 .25rem .25rem 0

    .target-form__discrete-form, .target-form__custom-form
      position absolute

      margin .5em 0 0 0
      padding .5em

      z-index 100

      min-width 100%

      top 48px

      background white

      border-radius .25rem
      border solid thin rgba(0, 0, 0, .125)

      text-align left

      -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125)
      -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125)
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.125)

.header__rule .target-form__discrete-form, .target-form__custom-form
  &::after, &::before
    content ''

    position absolute

    right 0
    left 0

    margin auto

    width: 0
    height: 0

    border-style: solid

  &:after
    top -20px

    border-width: 10px
    border-color: transparent transparent white transparent

  &:before
    top -22px

    border-width: 11px
    border-color: transparent transparent rgba(black, 0.125) transparent

.target-form__discrete-form, .target-form__custom-form
  height auto

  label
    display block

    &:last-child
      margin-bottom 0

.target-form__custom-delete
  top 0
  right 0

  border-top-left-radius 0
  border-bottom-left-radius 0
