<div class="target-row d-flex align-items-center" [class.generatorWrapper]="generator"
     (clickOutside)="handleClickOutside($event)">

  <!-- Loop -->
  <div class="form-group mb-0 mr-2" *ngIf="!generator">
    <input aria-label="check" type="checkbox" [checked]="checked" (change)="handleCheck()">
  </div>

  <ng-container *ngFor="let field of fields; let i = index">

    <div
      class="header__rule"
      [class.generator]="generator"
      *ngIf="fields && ruleMask && ruleMask[i] !== 2"
      [ngbTooltip]="toString(field.key)"
    >

      <!-- Check if options are fetched -->
      <div class="h-100">

        <!-- Rule string -->
        <span
          class="d-block"
          [class.mb-2]="generator"
          (click)="setActiveList(field.key)"
        >
          <span>{{field.name}}</span>
          <span class="badge badge-secondary ml-1">{{ruleMask[i] ? 'd' : 's'}}</span>
        </span>

        <div *ngIf="list === field.key">

          <!-- Value selector -->
          <form
            class="form-control target-form__discrete-form"
            [name]="target[field.key]"
            *ngIf="isList(field)"
            (change)="setOption($event, field.key)"
          >

            <!-- Search -->
            <div *ngIf="isList(field)" class="form-group">
              <input
                aria-label="search"
                class="form-control"
                placeholder="Enter something..."
                [(ngModel)]="searcher[field.key]"
                [ngModelOptions]="{standalone: true}"
              >
            </div>

            <!-- Options -->
            <label *ngFor="let option of filterOptions(field.key, field.options) | keyvalue">
              <input
                type="checkbox"
                [name]="field.name"
                [checked]="isChecked(target, field.key, option.value)"
                [value]="option.value"
              >
              {{option.value}}
            </label>

          </form>

          <!-- Custom input -->
          <form
            class="target-form__custom-form"
            *ngIf="!isList(field)"
            [name]="target[field.key]"
          >

            <label *ngFor="let _ of target[field.key]; let i = index; trackBy:customTrackBy" class="position-relative">
              <input
                #refEl
                class="form-control"
                [(ngModel)]="target[field.key][i]"
                [name]="field.key + i"
                (paste)="handlePaste($event, field.key, i)"
                (keypress)="blurInput($event, refEl)"
              >
              <button
                type="button"
                class="btn btn-danger position-absolute target-form__custom-delete"
                (click)="deleteRow(field.key, i)"
              >✕
              </button>
            </label>

            <!-- Add button -->
            <button
              class="btn btn-outline-primary w-100 target-row__more-button"
              type="button"
              *ngIf="isMore(field.key)"
              (click)="addValue(field.key)"
            >Add
            </button>
          </form>

        </div>

      </div>

    </div>

  </ng-container>

</div>
