<div class="container">

  <div class="row">

    <div class="col p-4">

      <!-- Step one -->
      <form *ngIf="step === 1" #audienceForm="ngForm">

        <h2 class="mb-3">New Audience Step 1</h2>

        <!-- First row -->
        <div class="form-row">
          <div class="col">

            <!-- Folder name input -->
            <div class="form-group">
              <input
                aria-label="Folder name"
                class="form-control"
                name="name"
                placeholder="Folder Name"
                required
                [(ngModel)]="folderSettings.name"
              >
            </div>

          </div>
        </div>

        <!-- Frequency settings -->
        <div class="form-group">

          <!-- Is active -->
          <label class="d-block mb-0">
            <input
              name="frequencyActive"
              type="checkbox"
              [(ngModel)]="folderSettings.frequency.active"
            >
            Frequency
          </label>

        </div>

        <div class="form-row" *ngIf="folderSettings.frequency.active">

          <!-- Frequency number -->
          <div class="col-4">
            <label class="d-block w-auto">
              <input
                class="form-control w-100"
                name="frequencyNumber"
                placeholder="Number"
                required
                [(ngModel)]="folderSettings.frequency.number"
              >
            </label>
          </div>

          <!-- Frequency type -->
          <div class="col-4">
            <label class="d-block">
              <select
                class="form-control"
                name="frequencyType"
                required
                [(ngModel)]="folderSettings.frequency.type"
              >
                <option disabled selected [ngValue]="undefined">Frequency type</option>
                <option *ngFor="let option of folderSettings.options.types" [value]="option">{{option}}</option>
              </select>
            </label>
          </div>

          <!-- Frequency value -->
          <div class="col-4">
            <label class="d-block">
              <select
                class="form-control"
                name="frequencyFrequency"
                required
                [(ngModel)]="folderSettings.frequency.frequency"
              >
                <option disabled selected [ngValue]="undefined">Frequency value</option>
                <option *ngFor="let option of folderSettings.options.frequencies" [value]="option">{{option}}</option>
              </select>
            </label>
          </div>

        </div>

        <!-- BLS -->
        <div class="form-group">
          <label class="d-block mb-0">
            <input [(ngModel)]="folderSettings.bls" type="checkbox" name="bls">
            BLS Split
          </label>
        </div>

        <!-- Without videos -->
        <!--        <div class="form-check py-2">-->
        <!--          <input [(ngModel)]="type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"-->
        <!--                 [value]="false">-->
        <!--          <label class="form-check-label" for="exampleRadios1">-->
        <!--            Без связи с видео-->
        <!--          </label>-->
        <!--        </div>-->

        <!-- Video-based -->
        <!--        <div class="form-check py-2">-->
        <!--          <input [(ngModel)]="type" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"-->
        <!--                 [value]="true">-->

        <!--          &lt;!&ndash; Label &ndash;&gt;-->
        <!--          <label class="form-check-label" for="exampleRadios2">-->
        <!--            На основе видео-->
        <!--          </label>-->

        <!--          &lt;!&ndash; List &ndash;&gt;-->
        <!--          <select aria-label="" *ngIf="type" [(ngModel)]="videoFolder" name="videoFolder" class="form-control mt-2">-->
        <!--            <option disabled [value]="null">Выберите видео папку</option>-->
        <!--            <option *ngFor="let folder of videoFolders; let index = i" [attr.data-index]="index"-->
        <!--                    [value]="index">{{folder.name}}</option>-->
        <!--          </select>-->

        <!--        </div>-->

        <!-- Buttons -->
        <button class="btn btn-primary mt-2" (click)="nextStep()">Next</button>

      </form>

      <!-- Second step -->
      <form *ngIf="step === 2" #audienceForm="ngForm">

        <h2 class="mb-3">New Audience Step 2</h2>

        <div *ngFor="let rule of rules; let i = index" class="d-flex justify-content-between mb-2 flex-grow-0"
             data-toggle="buttons">

          <div>{{rule.name}}</div>

          <!-- Buttons -->
          <div class="btn-group btn-group-toggle">
            <label class="btn btn-secondary" [ngClass]="{'btn-dark': rule.static === 0}">
              <input type="checkbox" name="{{type + i}}" [value]="0" autocomplete="off"
                     [(ngModel)]="rule.static" (change)="setRuleValue(rule, 0)">Static
            </label>
            <label class="btn btn-secondary" [ngClass]="{'btn-dark': rule.static === 1 }">
              <input type="checkbox" name="{{type + i}}" [value]="1" autocomplete="off"
                     [(ngModel)]="rule.static" (change)="setRuleValue(rule, 1)">Dynamic
            </label>
            <label class="btn btn-secondary" [ngClass]="{'btn-dark': rule.static === 2 }">
              <input type="checkbox" name="{{type + i}}" [value]="2" autocomplete="off"
                     [(ngModel)]="rule.static" (change)="setRuleValue(rule, 2)">Hidden
            </label>
          </div>

        </div>

        <!-- Buttons -->
        <button class="btn btn-light mt-2 mr-2" (click)="previousStep()">Previous</button>
        <button class="btn btn-primary mt-2" (click)="nextStep()">Next</button>

      </form>

      <!-- Third step -->
      <form *ngIf="step === 3" (ngSubmit)="onSubmit()" #audienceForm="ngForm">

        <h2 class="mb-3">New Audience Step 3</h2>

        <h3 class="mb-3">Campaign settings</h3>

        <form #campaignForm="ngForm">

          <div class="form-group">
            <label class="w-100">
              Campaign Name Template
              <input class="form-control" [(ngModel)]="campaign.campaign" name="name"
                     placeholder="Campaign Name Template">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Campaign Type
              <select class="form-control" [(ngModel)]="campaign.campaignType" name="campaignType">
                <option
                  *ngFor="let option of getOptionsByName('campaignType').options | keyvalue; let i = index"
                  [value]="option.value"
                  [disabled]="i > 3"
                >{{option.value}}</option>
              </select>
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Budget
              <input class="form-control" [(ngModel)]="campaign.budget" name="name"
                     placeholder="Campaign Budget">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Budget Type
              <select class="form-control" [(ngModel)]="campaign.budgetType" name="budgetType">
                <option
                  *ngFor="let option of getOptionsByName('budgetType').options | keyvalue"
                  [value]="option.value"
                >{{option.value}}</option>
              </select>
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Bid Strategy
              <select class="form-control" [(ngModel)]="campaign.bidStrategyType"
                      name="bidStrategyType">
                <option
                  *ngFor="let option of getOptionsByName('bidStrategy').options | keyvalue"
                  [value]="option.value"
                >{{option.value}}</option>
              </select>
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Start Date
              <input class="form-control" [(ngModel)]="campaign.startDate" name="name" placeholder="Start Date">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              End Date
              <input class="form-control" [(ngModel)]="campaign.endDate" name="name" placeholder="End Date">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Max CPM (RUB)
              <input class="form-control" [(ngModel)]="campaign.maxCPM" name="name" placeholder="Max CPM (RUB)">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Max CPV (RUB)
              <input class="form-control" [(ngModel)]="campaign.maxCPV" name="name" placeholder="Max CPV (RUB)">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Target CPA (RUB)
              <input class="form-control" [(ngModel)]="campaign.targetCPA" name="name" placeholder="Target CPA (RUB)">
            </label>
          </div>

          <div class="form-group">
            <label class="w-100">
              Target CPM (RUB)
              <input class="form-control" [(ngModel)]="campaign.targetCPM" name="name" placeholder="Target CPM (RUB)">
            </label>
          </div>

          <div class="form-group">
            Video Networks
            <div class="form-control h-auto">
              <label class="d-block">
                <input [(ngModel)]="campaign.networks.search.value" type="checkbox" name="search">
                {{campaign.networks.search.title}}
              </label>
              <label class="d-block">
                <input [(ngModel)]="campaign.networks.videos.value" type="checkbox" name="videos">
                {{campaign.networks.videos.title}}
              </label>
              <label class="d-block mb-0">
                <input [(ngModel)]="campaign.networks.partners.value" type="checkbox" name="partners">
                {{campaign.networks.partners.title}}
              </label>
            </div>
          </div>

        </form>

        <!-- Buttons -->
        <button class="btn btn-light mt-2 mr-2" (click)="previousStep()">Previous</button>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>

      </form>

    </div>

  </div>
</div>
