<div class="container dashboard w-75">

  <!-- Fold button -->
  <a href="#" class="d-block mb-2" (click)="handleFold($event)">{{fold ? 'Развернуть' : 'Свернуть'}}</a>

  <!-- Target generator -->
  <form *ngIf="!fold" class="row card target-form m-0" (ngSubmit)="submit()">

    <!-- Header (options) -->
    <header class="col card-body d-flex target-form__header pb-0">

      <app-target-row
        [fields]="fields"
        [target]="generator"
        [ruleMask]="rulesArray"
      ></app-target-row>
    </header>

    <!-- Line -->
    <hr/>

    <!-- Generator body -->
    <main>

      <!-- Radio buttons -->
      <div class="btn-group btn-group-toggle target-form__radio mb-3">

        <!-- Generate -->
        <label *ngIf="submitType !== 'generate'" class="btn btn-secondary" [class.active]="submitType === 'generate'">
          <input type="radio" name="submitType" [value]="'generate'"
                 [(ngModel)]="submitType">Generate
        </label>

        <label *ngIf="submitType === 'generate'" class="btn btn-secondary active">
          <span>Generate</span>

          <input *ngIf="submitType === 'generate'" class="target-form__generate" name="generateNumber"
                 [(ngModel)]="generateNumber">
        </label>

        <!-- All -->
        <label class="btn btn-secondary" [class.active]="submitType === 'all'">
          <input type="radio" name="submitType" [value]="'all'" [(ngModel)]="submitType">To All
        </label>

        <!-- Checked -->
        <label class="btn btn-secondary" [class.active]="submitType === 'checked'">
          <input type="radio" name="submitType" [value]="'checked'" [(ngModel)]="submitType">To Checked
        </label>

        <!-- Delete -->
        <label class="btn btn-secondary" [class.active]="submitType === 'delete'">
          <input type="radio" name="submitType" [value]="'delete'" [(ngModel)]="submitType">Delete Checked
        </label>

        <!-- Submit button -->
        <button class="btn btn-primary">Submit</button>

      </div>

    </main>

  </form>

  <!-- Target wrapper -->
  <div class="row table w-100 m-0 targets">
    <app-target-row
      *ngFor="let target of targets; let i = index"
      [target]="target"
      [fields]="fields"
      [generator]="false"
      [key]="i"
      [ruleMask]="rulesArray"
      [checked]="isActive(i)"
      (activate)="activateRow($event)"
      (deactivate)="deactivateRow($event)"
      (changed)="saved = false">
    </app-target-row>
  </div>

</div>

<!-- Buttons -->
<div class="save-button">
  <button
    class="btn mr-2"
    [ngClass]="{'btn-primary': !saved, 'btn-light': saved}"
    (click)="save()">{{saved ? 'Saved' : 'Save'}}
  </button>
  <div class="btn btn-success mr-2" (click)="download()">Download</div>
  <button class="btn btn-secondary mr-2" (click)="export()">Export</button>
  <form class="d-inline-block" (change)="handleImport($event)">
    <label class="btn btn-secondary mb-0">
        Import <input type="file" hidden>
    </label>
  </form>
</div>
