// Host element
:host
  position absolute

  top 0
  right 0
  bottom 0
  left 0

// Target form header
.target-form__header
  //min-height 320px

// Target form (generator)
.target-form
  main
    text-align center

  // Generate (number)

  .target-form__generate
    display inline-block

    margin-left .5em
    padding 0

    width 24px

    background white

    border none
    border-radius .25rem

    text-align center

// Scrolling
.target-form__header, div.table
  //overflow-x auto

// Target rows
.targets
  flex 1

  align-content baseline

.container
  display flex
  flex-direction column
  flex-grow 1

  min-height 100%

.table
  padding-bottom 512px

  .header
    margin 1em 0

// Save button
.save-button
  position fixed

  right 1em
  bottom 1em
