<div class="container">

  <div class="row">

    <div class="col p-4">

      <h2>New Video Folder</h2>

      <form (ngSubmit)="onSubmit()" #videoFolderForm="ngForm">

        <div class="form-group">
          <div class="custom-file">
            <input
              class="custom-file-input"
              name="videos"
              type="file"
              id="customFile"
              multiple
              (change)="handleCustomFiles($event)"
            >
            <label class="custom-file-label" for="customFile">
              {{showButtonText()}}
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="w-100">
            <input
              class="form-control"
              name="title"
              placeholder="Title"
              [(ngModel)]="folderSettings.title"
            >
          </label>
        </div>

        <div class="form-group">
          <label class="w-100">
            <input
              class="form-control"
              name="description"
              placeholder="Description"
              [(ngModel)]="folderSettings.description"
            >
          </label>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Submit</button>

      </form>

    </div>

  </div>
</div>
