<div class="container-fluid d-flex flex-column mw-100 p-0 full">

  <!-- Header -->
  <app-header></app-header>

  <!-- Main -->
  <div class="row justify-content-start interface m-0">
    <app-navigator></app-navigator>

    <app-main class="col p-2 window">
      <router-outlet></router-outlet>
    </app-main>

  </div>
</div>
