<div class="container">

  <div class="row">

    <div class="col p-4">

      <!-- Step one -->
      <form #matchingForm="ngForm" (ngSubmit)="onSubmit()">
        <h2 class="mb-3">New Matching</h2>

        <div class="form-group">

          <!-- Folder name input -->
          <div class="form-group">
            <input
              aria-label="Folder name"
              class="form-control"
              name="name"
              placeholder="Matching Folder Name"
              required
              [(ngModel)]="uploadFormSettings.name"
            >
          </div>

        </div>

        <!-- Audience -->
        <div class="form-check py-2 pl-0">
          Audience Folder

          <!-- List -->
          <select aria-label="" [(ngModel)]="uploadFormSettings.audienceFolderID" name="videoFolder"
                  class="form-control mt-2">
            <option disabled [value]="null">Выберите папку</option>
            <option *ngFor="let folder of audienceFolders; let index = i" [attr.data-index]="index"
                    [value]="folder.id">{{folder.name}}</option>
          </select>

        </div>

        <!-- Video -->
        <div class="form-check py-2 pl-0">
          Creative Folder

          <!-- List -->
          <select aria-label="" [(ngModel)]="uploadFormSettings.videoFolderID" name="videoFolder"
                  class="form-control mt-2">
            <option disabled [value]="null">Выберите видео папку</option>
            <option *ngFor="let folder of uploadFormSettings; let index = i" [attr.data-index]="index"
                    [value]="folder.id">{{folder.name}}</option>
          </select>

        </div>

        <!-- Buttons -->
        <button type="submit" class="btn btn-primary mt-2">Submit</button>

      </form>

    </div>

  </div>

</div>
