// Root component element
:host
  display flex
  flex-direction column
  justify-content center

  height 100%

// Dashboard wrapper
.dashboard
  margin-top -84px

  align-items center

  // Dashboard element
  a
    text-align center

    font-size 1.5em

    line-height 200%

  .row
    justify-content space-around
