<div class="container dashboard w-75">

  <div class="row">

    <!-- Audiences -->
    <a routerLink="/audiences" class="col p-4">
      <i class="em em-woman-boy-boy"></i>
      <div>Audiences</div>
    </a>

    <!-- Videos -->
    <a routerLink="/videos" class="col p-4">
      <i class="em em-video_camera"></i>
      <div>Videos</div>
    </a>

  </div>

  <div class="row">

    <!-- Matching -->
    <a routerLink="/matching" class="col p-4">
      <i class="em em-handshake"></i>
      <div>Matching</div>
    </a>

    <!-- Pricing -->
    <a routerLink="/pricing" class="col p-4">
      <i class="em em-moneybag"></i>
      <div>Pricing</div>
    </a>

  </div>

</div>
