:host
  display flex

  position fixed

  z-index 300

  top 0
  bottom 0
  left 0

.sidebar__nav-element
  display flex

  align-items center
  justify-content center

  height 48px
  width 48px

  border-radius 24px

  background-color rgba(white, 0.75)

.sidebar__nav-element__active
  background-color white
