<div class="col-auto p-0 bg-primary sidebar text-white">
  <nav class="sidebar__nav">

    <!-- Dashboard -->
    <a
      class="sidebar__nav-element m-3"
      routerLink="/dashboard"
      routerLinkActive="sidebar__nav-element__active"
    >
      <i class="em em-clipboard"></i>
    </a>

    <!-- Videos -->
    <a
      class="sidebar__nav-element m-3"
      routerLink="/videos"
      routerLinkActive="sidebar__nav-element__active"
    >
      <i class="em em-video_camera"></i>
    </a>

    <!-- Audiences -->
    <a
      class="sidebar__nav-element m-3"
      routerLink="/audiences"
      routerLinkActive="sidebar__nav-element__active"
    >
      <i class="em em-woman-boy-boy"></i>
    </a>

    <!-- Matching -->
    <a
      class="sidebar__nav-element m-3"
      routerLink="/matching"
      routerLinkActive="sidebar__nav-element__active"
    >
      <i class="em em-handshake"></i>
    </a>

  </nav>
</div>
