/* You can add global styles to this file, and also import other style files */
html, body
  height 100%
  min-height: 100%

.dashboard
  .dashboard__header
    border-bottom solid thin lightgrey

.dashboard-buttons
  position fixed

  right 1em
  bottom 1em

.add-form
  position fixed
